table{
  text-align: center;
}
th{
  padding: 0.7%;
  background-color: #2e68a1  !important;
  color: white;
  border-right: 1px solid rgba(225, 225, 231, 0.425);
}
td{
  padding: 0.7%;
  background-color: #2e68a1 !important;
  border-right: 1px solid rgba(225, 225, 231, 0.425);
  border-bottom: 1px solid rgba(225, 225, 231, 0.425);
  color: white;
} 
tr:hover td{
  background-color: rgba(233, 227, 227, 0.822) !important;
  color: black !important;
}

.search{
  margin: 0 auto;
  border: 2px solid rgb(206, 201, 201);
  background-color:rgb(255, 255, 255) ;
  width: 40%;
}
.input-div{
  padding-bottom: 2%;
  background-color: #204971;
}

.maincontainer{
display: flex;
flex-direction: column;
justify-content: space-between;
/* height: 100vh; */
}
.pagdiv{
  margin-left: 93%;
  margin-bottom: 10px;
}
.page_info button {
  font-size: 16px;
  margin-right: 5px;
  background-color: #204971; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.page_info button:hover {
  background-color: #0056b3;
}
